@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::-webkit-scrollbar {
  width: 0px;     /* Tamaño del scroll en vertical */
  height: 0px;    /* Tamaño del scroll en horizontal */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
:root {
  --background-color: black;
}
.grayscale {
  filter: grayscale(100%); 
  transition: filter 1s ease-in-out; 
}

.grayscale:hover {
  filter: grayscale(0%); 
}

.scale-banner{
  scale: 90%;
}

/**Animaci{on de imagenes**/
  @keyframes slide-left {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  .animate-slide-left {
    animation-name: slide-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    position: absolute;
  }

  @keyframes slide-right {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  .animate-slide-right {
    animation-name: slide-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    position: absolute;
  }

/*Ajustes fondos para imagenes*/

.bannerder{
  width: 169px;
  height: 332px;
}
.bannercent{
  width: 80px;
  height: 670px;
}


/*Lineas con animacion */
.linea {
  position: relative;
  height: 1.8px;
  overflow: hidden;
}

.linea::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #94856F;
  animation: rellenar 5s linear forwards;
  animation-delay: 4s;
}

@keyframes rellenar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}




