@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::-webkit-scrollbar {
  width: 0px;     /* Tamaño del scroll en vertical */
  height: 0px;    /* Tamaño del scroll en horizontal */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
:root {
  --background-color: black;
}
img {
  filter: grayscale(100%); /* desaturación al inicio */
  transition: filter 1s ease-in-out; /* transición suave al cambiar el filtro */
}

img:hover {
  filter: grayscale(0%); /* saturación normal al pasar el mouse encima */
}

.scale-banner{
  scale: 90%;
}