@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::-webkit-scrollbar {
  width: 0px;     /* Tamaño del scroll en vertical */
  height: 0px;    /* Tamaño del scroll en horizontal */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
:root {
  --background-color: black;
}
.maxH{
  max-height: 800px;
}
.tarjetaw{
  width: 334px;
  height: 175px;
}
.minH2{
  min-height: 820px;
}
@media (min-width: 380px){    
  .minH{
    min-height: 720px;
  }
}

.grayscale {
  filter: grayscale(100%); 
  transition: filter 1s ease-in-out; 
}

.grayscale:hover {
  filter: grayscale(0%); 
}

.scale-banner{
  scale: 90%;
}

/**Animaci{on de imagenes**/
  @keyframes slide-left {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  .animate-slide-left {
    animation-name: slide-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    position: absolute;
  }

  @keyframes slide-right {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  .animate-slide-right {
    animation-name: slide-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    position: absolute;
  }

/*Ajustes para imagenes*/

.bannerder{
  width: 169px;
  height: 332px;
}
.bannercent{
  width: 80px;
  height: 670px;
}
.banner2derH{
  height: 450px;
}

/*Lineas con animacion BANNER*/
.linea {
  position: relative;
  height: 1.8px;
  overflow: hidden;
}
.linea::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #94856F;
  animation: rellenar 4s linear forwards;
  animation-delay: 2s;
}
@keyframes rellenar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
  /*animacion linea de derecha a izquierda*/
  .lineaD {
    position: relative;
    height: 1.8px;
    overflow: hidden;
  }
  .lineaD::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0%;
    right: 0;
    background-color: #94856F;
    animation: rellenarD 4s linear forwards;
    animation-delay: 2s;
  } 
  @keyframes rellenarD {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

/*Tarjeta de participación*/
.fondo-tarjeta1 {
  background-image: url('../public/fondoTarjeta1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo-tarjeta2 {
  background-image: url('../public/fondoTarjeta2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}